textarea {
  overflow: auto;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

section {
  min-height: 90vh;
}

.hide {
  display: none !important;
}
